* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "PP Neue Montreal";
  background-color: #0f0f0f;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
}

a,
p {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.blurry-prev {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(80px);
}

.col {
  position: relative;
  padding: 1em;
}

.site-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.project-preview {
  flex: 2;
}

.project-details {
  position: absolute;
  top: 1em;
  left: 1em;
  width: 50%;
}

.title {
  margin-bottom: 0.5em;
}

.info {
  margin-bottom: 1em;
}

.title,
.line {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.title h1 {
  position: relative;
  transform: translateY(40px);
  will-change: transform;
}

.info p .line span {
  display: inline-block;
  position: relative;
  transform: translateY(20px);
  will-change: transform;
}

.project-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 75%;
  height: 100vh;
  overflow: hidden;
  will-change: transform;
}

.project-img img {
  will-change: transform;
}

.gallery-wrapper {
  width: 10vw;
  display: flex;
  justify-content: center;
  z-index: 2;
  overflow: auto;
  padding: 0.75em;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
}

.gallery {
  width: 80vw;
  height: 300vh;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.gallery.item {
  position: relative;
  flex: 1;
  background-color: #aeaeae;
}
.gallery .item:hover {
  cursor: pointer;
}

.gallery.item::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);
  transition: background-color 0.5s ease-in-out;
  transition-delay: 0.5s;
}

.gallery .item.active::after {
  background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .site-info {
    flex: 0.5;
    border-left: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .site-info .copy {
    display: none;
  }

  .project-details {
    width: calc(100% - 10em);
  }

  .project-img {
    width: 100vw;
    height: 100vh;
  }

  .gallery-wrapper {
    width: 20vw;
    height: 100vh;
    border-right: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }

  .gallery {
    width: 300vw;
    height: 100px;
    flex-direction: column;
  }
}
